p {
    display: flex;
    margin-top: 0;    
}

.navLogo {
    height: 100%;
    width: 150px;
    padding: 0;
    margin-top: -15px;
    margin-bottom: -12px;
    margin-left: 50px;
    background-color: darkcyan;
    color: white;
}

.navName {
    color: white;
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
 }

 .navAbout {
     justify-content: space-between;
     margin: 10px;
     color: gray;
 }

 .navPortfolio {
     justify-content: space-between;
     margin: 10px;
     color: gray;

 }

.navContact {
    justify-content: space-evenly;
    margin: 10px;
    color: gray;

}

.container1 {
    color: gray;  

}

.page-header {
    margin-top: 50px;
    margin-left: 15px;
    color: darkcyan;
    font-size: 10px;
    font-family: serif;
}

.photo {
    float: left;
    clear: left;
    margin-right: 10px;
    padding: 5px;
}

.container2 {
    width: 1024px;
    border-color: lightgray;
    margin-left: 50px;
}

footer {
    background: darkgray;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media screen (and max-width: 600px;) {

}




