p {
    display: flex;
    margin-top: 0;
    
}

.container1 {
    color: gray;  

}

.page-header {
    margin-top: 50px;
    margin-left: 15px;
    color: darkcyan;
    font-size: 10px;
    font-family: serif;
}

.photo {
    float: left;
    clear: left;
    margin-right: 10px;
    padding: 5px;
}

.container2 {
    width: 1024px;
    border-color: lightgray;
    margin-left: 50px;
}






