h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
    width: 100%;
    margin-top: -13px;
}

.navLogo {
    height: 100%;
    width: 150px;
    padding: 0;
    margin-top: -15px;
    margin-bottom: -12px;
    margin-left: 50px;
    background-color: darkcyan;
    color: white;
}

.navName {
    color: white;
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
 }

 .navAbout {
     justify-content: space-between;
     margin: 10px;
     color: gray;
 }

 .navPortfolio {
     justify-content: space-between;
     margin: 10px;
     color: gray;
 }

.navContact {
    justify-content: space-evenly;
    margin: 10px;
    color: gray;
}
.page-header {
    margin-top: 50px;
    margin-left: 55px;
    padding: 5px;
    color: darkcyan;
    font-family: serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;    
}
.container2 {
    position: relative;
}
.text-block {
    position: absolute;
    margin-top: -80px;
    margin-left: 60px;
    width: 200px;
    height: 40px;
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}

.left1 {
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.right1 {
    margin-left: 200px;
    margin-bottom: 20px;
    padding: 10px;
}
.left2 {
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.right2 {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
}
.left3 {
    margin-left: 50px;
    padding: 10px;
}